{% extends "base.html" %}

{% block title %}
View Source: {{ item.id }}
{% endblock title %}

{% block content %}
<h1 class="text-3xl font-bold text-red-500 mb-6">
    {% if item.metadata %}
        {{ item.metadata.uploader }}
    {% else %}
        {{ item.url }}
    {% endif %}
</h1>
<div class="bg-white rounded-lg shadow p-6 mb-10">
    {% if item.metadata %}
        {% if item.metadata.list_tabs and (not item.metadata.list_tab or (item.metadata.list_tab and item.metadata.list_count is undefined and item.metadata.items == 0)) %}
            <p class="mb-4"><span class="font-bold">Video Count:</span> unknown (select tab)</p>
        {% else %}
            <p class="mb-4"><span class="font-bold">Video Count:</span> {{ item.metadata.items }}</p>
        {% endif %}
        <p class="mb-4"><span class="font-bold">Source Provider:</span> {{ item.metadata.source_provider }}</p>
        <p class="mb-4">
            <span class="font-bold">List Kind:</span>
            {% if item.metadata.list_kind %}{{ item.metadata.list_kind }}{% else %}unknown{% endif %}
        </p>
        <p class="mb-4">
            <span class="font-bold">List Count:</span>
            {% if item.metadata.list_count %}{{ item.metadata.list_count }}{% else %}unknown{% endif %}
        </p>
        <p class="mb-4">
            <span class="font-bold">List Order:</span>
            {% if item.metadata.list_order %}{{ item.metadata.list_order }}{% else %}unknown{% endif %}
        </p>
        {% if item.metadata.list_tabs %}
        <p class="mb-4">
            <span class="font-bold">Selected Tab:</span>
            {% if item.metadata.list_tab %}{{ item.metadata.list_tab }}{% else %}default{% endif %}
        </p>
        {% endif %}
    {% endif %}
    <p class="mb-4"><span class="font-bold">URL:</span> {{ item.url }}</p>
    <p class="mb-4"><span class="font-bold">Fetch Last Days:</span> {{ item.fetch_last_days }}</p>
    <p class="mb-4">
        <span class="font-bold">Sponsorblock Categories:</span>
        {% for category in item.sponsorblock | split(pat=",") %}
        {% if category %}
            <span class="inline-block bg-red-100 text-red-800 px-2 py-1 rounded mr-2">{{ category }}</span>
        {% endif %}
        {% endfor %}
    </p>
    <p class="mb-4"><span class="font-bold">Refresh Frequency:</span> {{ item.refresh_frequency }}</p>
    <a href="/sources" class="text-red-500 hover:underline">Back to Sources</a>
</div>
{% endblock content %}
